/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  /* --global-font-size: 1rem; */
  /* --global-fluid-ratio: 0.675; */
  --global-rem: clamp(1rem, 0.37vw + 0.91rem, 1.5rem);

  /* fonts */
  --font-system: "Helvetica Neue", Helvetica, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-heading: "new-spirit-condensed", var(--font-system);
  --font-heading-2: "new-spirit", var(--font-system);
  --font-body: "Manrope", var(--font-system);
  --font-extra: anchor-web, var(--font-system);

  --fs-2xs: clamp(0.7rem, 0.05vw + 0.69rem, 0.77rem);
  --fs-1xs: clamp(0.79rem, 0.13vw + 0.76rem, 0.96rem);
  --fs-sm: clamp(0.89rem, 0.23vw + 0.83rem, 1.2rem);
  --fs-base: clamp(1rem, 0.37vw + 0.91rem, 1.5rem);
  --fs-md: clamp(1.13rem, 0.56vw + 0.99rem, 1.88rem);
  --fs-lg: clamp(1.27rem, 0.8vw + 1.07rem, 2.34rem);
  --fs-1xl: clamp(1.42rem, 1.12vw + 1.14rem, 2.93rem);
  --fs-2xl: clamp(1.6rem, 1.53vw + 1.22rem, 3.66rem);
  --fs-3xl: clamp(1.8rem, 2.06vw + 1.29rem, 4.58rem);
  --fs-4xl: clamp(2.03rem, 2.74vw + 1.34rem, 5.72rem);
  --fs-5xl: clamp(2.28rem, 3.61vw + 1.38rem, 7.15rem);
  --fs-6xl: clamp(2.57rem, 4.72vw + 1.39rem, 8.94rem);

  /* font weights */
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400; /* normal */
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* line-height */
  --lh-tighter: 90%;
  --lh-tight: 95%;
  --lh-normal: 100%;
  --lh-loose-1: 112.5%;
  --lh-loose-2: 120%;
  --lh-loose-3: 133.333%;
  --lh-loose-4: 150%;
  --lh-loose-5: 166%;

  /* letter spacing */
  --ls-tighter: clamp(-0.025rem, -0.01vw - 0.02rem, -0.05rem);
  --ls-tight: clamp(-0.01rem, -0.01vw - 0.01rem, -0.02rem);
  --ls-normal: 0;
  --ls-relax: clamp(0.01rem, 0.01vw + 0.01rem, 0.02rem);
  --ls-loose: clamp(0.025rem, 0.025vw + 0.0125rem, 0.05rem);

  /* spacing */
  --space-3xs: clamp(0.25rem, 0.225rem + 0.125vw, 0.375rem);
  --space-2xs: clamp(0.5rem, 0.45rem + 0.25vw, 0.75rem);
  --space-xs: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
  --space-s: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  --space-m: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
  --space-l: clamp(2rem, 1.8rem + 1vw, 3rem);
  --space-xl: clamp(3rem, 2.7rem + 1.5vw, 4.5rem);
  --space-2xl: clamp(4rem, 3.6rem + 2vw, 6rem);
  --space-3xl: clamp(6rem, 5.4rem + 3vw, 9rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.15rem + 0.5vw, 0.75rem);
  --space-2xs-xs: clamp(0.5rem, 0.375rem + 0.625vw, 1.125rem);
  --space-xs-s: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);
  --space-s-m: clamp(1rem, 0.75rem + 1.25vw, 2.25rem);
  --space-m-l: clamp(1.5rem, 1.2rem + 1.5vw, 3rem);
  --space-l-xl: clamp(2rem, 1.5rem + 2.5vw, 4.5rem);
  --space-l-2xl: clamp(3rem, 2.4rem + 3vw, 6rem);
  --space-2xl-3xl: clamp(4rem, 3rem + 5vw, 9rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.6rem + 2vw, 3rem);
  --space-s-2xl: clamp(1rem, 0rem + 5vw, 6rem);
  --space-m-2xl: clamp(1.5rem, 0.6rem + 4.5vw, 6rem);

  /* spacing */
  --page-margin: calc(2 * var(--global-rem));
  --page-padding: var(--global-rem);
  --grid-gutter: var(--space-s-m);
  /* --grid-gutter: 0; */

  --br-full: 50vw;

  /* colors */
  --clr-black: #000;
  --clr-white: #ffffff;
  --clr-green: #029c54;
  --clr-yellow: #feffc9;
  --clr-blue: #d9f9ff;
  --clr-navy: #035669;
  --clr-orange: #f55b1d;
  --clr-pinky: #f9dae5;
  --clr-yellow-warm: #ffc76e;

  /* colors:brand */
  --clr-brand: #005500;
}

html {
  height: 100%;
}

body {
  /* font-size: var(--base-rem); */
  font-family: var(--font-body);
  line-height: var(--lh-loose-1);
  font-size: var(--fs-base);
  min-height: 100%;
}

.page-wrap {
  height: 100%;
  background: var(--clr-yellow);
}

h1,
.fs-6xl {
  font-size: var(--fs-6xl);
  font-weight: 700;
  letter-spacing: var(--ls-tighter);
}

h2,
.fs-5xl {
  font-size: var(--fs-5xl);
  font-weight: 700;
  letter-spacing: var(--ls-tight);
}

h3,
.fs-4xl {
  font-size: var(--fs-4xl);
}

h4,
.fs-3xl {
  font-size: var(--fs-3xl);
}

h5,
.fs-2xl {
  font-size: var(--fs-2xl);
}

h6,
.fs-1xl {
  font-size: var(--fs-1xl);
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-md {
  font-size: var(--fs-md);
}

p,
.fs-base {
  font-size: var(--fs-base);
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fs-1xs {
  font-size: var(--fs-1xs);
}

.fs-2xs {
  font-size: var(--fs-2xs);
}

.debug-global-rem {
  font-size: var(--global-rem);
}

.fw-100 {
  font-weight: var(--fw-100);
}

.fw-200 {
  font-weight: var(--fw-200);
}

.fw-300 {
  font-weight: var(--fw-300);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-500 {
  font-weight: var(--fw-500);
}

.fw-600 {
  font-weight: var(--fw-600);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.fw-800 {
  font-weight: var(--fw-800);
}

.fw-900 {
  font-weight: var(--fw-900);
}

.lh-tighter {
  line-height: var(--lh-tighter);
}
.lh-tight {
  line-height: var(--lh-tight);
}

.lh-normal {
  line-height: var(--lh-normal);
}

.lh-loose-1 {
  line-height: var(--lh-loose-1);
}

.lh-loose-2 {
  line-height: var(--lh-loose-2);
}

.lh-loose-3 {
  line-height: var(--lh-loose-3);
}

.lh-loose-4 {
  line-height: var(--lh-loose-4);
}

.lh-loose-5 {
  line-height: var(--lh-loose-5);
}

main section {
  padding: var(--space-m-2xl);
}

.section-title {
  font-size: var(--fs-sm);
  font-weight: var(--fw-600);
  margin-bottom: var(--space-xs-s);
}

.button {
  display: inline-block;
  font-family: var(--font-extra);
  font-size: var(--fs-sm);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  letter-spacing: var(--ls-normal);
  padding: var(--space-s) var(--space-m);
  border-radius: var(--br-full);
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.tag {
  display: inline-block;
  font-family: var(--font-extra);
  font-size: var(--fs-sm);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  letter-spacing: var(--ls-loose);
  padding: var(--space-3xs) var(--space-2xs-xs);
  border-radius: var(--br-full);
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.tag.hero {
  background: var(--clr-blue);
  color: var(--clr-navy);
  border-radius: var(--br-full);
  border: none;
}

.page-wrap {
  display: grid;
}

.content {
  display: grid;
  row-gap: 0;
}

.about {
  background: var(--clr-blue);
  display: grid;
  gap: var(--grid-gutter);
  position: sticky;
  top: 0;
  z-index: 2;
  min-height: 100vh;
  padding: var(--space-l-2xl);
}

.info {
  display: grid;
  gap: var(--space-m);
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-bottom: 1.5rem;
}

article h1,
article h2 {
  font-size: var(--fs-2xl);
}
article h3,
article h4,
article h5,
article h6 {
  font-size: var(--fs-3xl);
}

article p {
  margin-bottom: 1.5rem;
  line-height: var(--lh-loose-5);
  font-size: var(--fs-sm);
}

article img {
  padding: 0;
  margin: 0;
}

article a {
  color: var(--clr-black);
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-color: rgba(0, 0, 0, 0.2);
  text-decoration-thickness: 0.1em;

  text-underline-offset: 0.1em;
  /* transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1); */
  transition: text-decoration-color 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

article a:hover {
  text-decoration-color: rgba(0, 0, 0, 0.9);
  text-decoration-thickness: 0.125em;
}

@media (min-width: 1024px) {
  .page-wrap {
    grid-template-columns: max-content 1fr;
    align-items: start;
  }

  .about {
    grid-template-columns: 2fr 1fr;
  }

  footer {
    order: 1;
    height: 100vh;
    width: max-content;
    min-width: 280px;
    max-width: 320px;
  }
  main {
    order: 2;
  }
}

footer {
  background: white;
  max-height: 100vh;
  display: grid;
  align-content: space-between;

  position: sticky;
  top: 0;
  align-self: start;
}

/* Debug Stuff */

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.5);
}

* > div > div {
  background: var(--color-debug);
} */
/* 
:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
} */

@media only screen and (max-width: 767px) {
  :root {
    /* --global-font-size: 0.975rem; */
    /* --global-text-scale: var(--scale-2-major-second); */
    --page-margin: var(--global-rem);
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
