---
import { NAME } from "../../consts";
const today = new Date();
---

<footer
  class="footer-sidebar bg-white lg:h-screen grid overflow-visible content-between lg:sticky top-0 self-start z-[60] p-[var(--space-m-xl)] lg:p-[var(--space-s)] lg:order-1"
>
  <p
    class="text-[length:var(--step--1)] lg:text-[length:var(--step--2)] font-bold leading-tight [text-wrap:pretty] lg:leading-normal"
  >
    Tuinierhier is Eefje Peddemors; tuinfluencer, plantlover, kweekbeest,
    tuintijger en gardenista sur plus. Maakt grijze ongezellige situaties groen
    en gezellig.
  </p>

  <div class="grid gap-2">
    <ul class="grid gap-1 text-[length:var(--step--2)] font-bold">
      <li>
        <a href="https://instagram.com/tuinierhier" class="footer-link">
          instagram.com/tuinierhier
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/" class="footer-link">
          linkedin.com/eefjepeddemors
        </a>
      </li>
      <li>
        <a href="mailto:eefje@tuinierhier.nl" class="footer-link">
          eefje@tuinierhier.nl
        </a>
      </li>
    </ul>
    <div
      class="flex justify-between mt-[var(--space-s-m)] text-[length:var(--step--2)] lg:text-[10px] font-bold text-gray-300 lg:gap-1"
    >
      <div>&copy; {today.getFullYear()} {NAME}</div>
      <div>
        design + dev: <a
          href="https://allthis.digital"
          target="_blank"
          class="text-clr-navy"
        >
          allthis.digital
        </a>
      </div>
    </div>
  </div>
  <div
    class="bloem absolute top-0 left-1/2 w-12 -translate-x-1/2 -translate-y-1/2 lg:top-1/2 lg:left-auto lg:right-0 lg:w-16 lg:translate-x-1/2 lg:-translate-y-1/2 lg:z-[999]"
  >
    <img src="/assets/tuinierhier-bloem.svg" />
  </div>
</footer>

<style>
  /* Footer Layout */
  .footer-sidebar {
    background: white;

    display: grid;
    align-content: space-between;
    position: sticky;
    top: 0;
    align-self: start;
  }

  .footer-link {
    display: block;
    text-decoration: underline;
    text-decoration-color: rgb(156 163 175);
    text-underline-offset: 0.25em;
    text-decoration-thickness: 0.125em;
    color: rgb(75 85 99);
    position: relative;
    padding-left: 1.25em;
    line-height: 1.25;
  }

  .footer-link:hover {
    color: rgb(31 41 55);
    text-decoration-color: rgb(31 41 55);
  }

  .footer-link::before {
    content: "→";
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
  }
</style>

<script>
  const elem = document.querySelector(".bloem") as HTMLElement;

  if (elem) {
    window.addEventListener("scroll", function () {
      const value = window.scrollY * 1;
      elem.style.transform = `translateX(50%) translateY(-50%) rotate(${value}deg)`;
    });
  }
</script>
