---
import { NAME } from "../../consts";
import FooterAnimation from "../animations/FooterAnimation.astro";
const today = new Date();
---

<footer
  class="footer-sidebar bg-white min-h-[50vh] lg:h-screen grid overflow-visible content-between lg:sticky top-0 self-start z-[60] p-[var(--space-m-xl)] pb-[var(--space-m-3xs)] lg:p-[var(--space-s)] lg:pb-[var(--space-m-3xs)] lg:order-1"
>
  <p
    class="text-[length:var(--step--1)] lg:text-[length:var(--step--2)] font-bold leading-tight [text-wrap:pretty] lg:leading-normal"
  >
    Tuinierhier is Eefje Peddemors; tuinfluencer, plantlover, kweekbeest,
    tuintijger en gardenista sur plus. Maakt grijze ongezellige situaties groen
    en gezellig.
  </p>

  <div class="grid gap-2">
    <ul class="grid text-[length:var(--step--2)] font-bold">
      <li>
        <a href="https://instagram.com/tuinierhier" class="footer-link">
          instagram.com/tuinierhier
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/" class="footer-link">
          linkedin.com/eefjepeddemors
        </a>
      </li>
      <li>
        <a href="mailto:eefje@tuinierhier.nl" class="footer-link">
          eefje@tuinierhier.nl
        </a>
      </li>
    </ul>
    <div
      class="flex justify-between items-center mt-[var(--space-xs)] text-[length:var(--step--2)] lg:text-[10px] font-bold text-gray-500 lg:gap-1"
    >
      <div>&copy; {today.getFullYear()} {NAME}</div>
      <div class="flex justify-end items-center gap-1">
        design + dev: <a
          href="https://allthis.digital"
          target="_blank"
          class="text-clr-black py-5"
        >
          allthis.digital
        </a>
      </div>
    </div>
  </div>
  <div
    class="bloem absolute top-0 left-1/2 w-12 -translate-x-1/2 -translate-y-1/2 lg:top-1/2 lg:left-auto lg:right-0 lg:w-16 lg:translate-x-1/2 lg:-translate-y-1/2 lg:z-[999]"
  >
    <img
      src="/assets/tuinierhier-bloem.svg"
      alt="Tuinierhier bloem decoratie"
    />
  </div>
</footer>
<FooterAnimation />

<style>
  /* Footer Layout */
  .footer-sidebar {
    background: white;

    display: grid;
    align-content: space-between;
    position: sticky;
    top: 0;
    align-self: start;
  }

  .footer-link {
    display: block;
    text-decoration: underline;
    text-decoration-color: rgb(156 163 175);
    text-underline-offset: 0.25em;
    text-decoration-thickness: 0.125em;
    color: rgb(16, 17, 18);
    position: relative;
    padding: 0.55em 0.25em 0.5em 1.25em;
    line-height: 1.25;
    min-height: 24px; /* Minimum touch target size */
    display: flex;
    align-items: center;
  }

  .footer-link:hover {
    color: rgb(31 41 55);
    text-decoration-color: rgb(31 41 55);
  }

  .footer-link::before {
    content: "→";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
  }
</style>
