---
// import { YouTube } from "@astro-community/astro-embed-youtube";
---

<section
  class="bg-clr-green sticky top-0 z-50 min-h-screen grid content-center p-[var(--space-m-xl)]"
>
  <div
    class="grid gap-[var(--space-s-m)] md:grid-cols-[minmax(min-content,3fr)_minmax(0,2fr)]"
  >
    <img
      src="https://via.placeholder.com/1280x720/333?text=16:9"
      alt="image"
      class="w-full"
    />
    <div class="space-y-4">
      <h2 class="text-[var(--step-1)] font-heading">Contact?</h2>
      <p>Heb je een vraag of wil je samenwerken? Ik hoor het graag!</p>
      <a href="#" class="button">Mail</a>
    </div>
  </div>
</section>
