---
import { NAME, NAME_REAL } from "../../consts";
import Tag from "../common/Tag.astro";
import HeroAnimation from "../animations/HeroAnimation.astro";
---

<header
  class="min-h-[70vh] lg:min-h-[80vh] relative lg:sticky top-0 z-20 overflow-hidden"
>
  <div
    class="absolute z-20 grid w-full h-full justify-center overflow-hidden place-items-center text-center bg-black/50 text-white"
  >
    <div class="space-y-4">
      <h1
        class="font-heading text-[length:var(--step-7)] md:text-[length:var(--step-8)] lg:text-[length:var(--step-10)] leading-none text-clr-yellow whitespace-nowrap"
        id="hero-title"
        data-animate-text
      >
        {NAME}
      </h1>
      <p class="font-heading-alt text-[length:var(--step-2)] text-white">
        {NAME_REAL}
      </p>
      <ul
        class="flex flex-wrap gap-[var(--space-2xs)] items-center justify-center"
        data-animate-tags
      >
        <li data-tag><Tag variant="hero">Tuinfluencer</Tag></li>
        <li data-tag><Tag variant="hero">Plantlover</Tag></li>
        <li data-tag><Tag variant="hero">Kweekbeest</Tag></li>
        <li data-tag><Tag variant="hero">Tuintijger</Tag></li>
        <li data-tag><Tag variant="hero">Gardenista</Tag></li>
      </ul>
    </div>
  </div>
  <video
    class="absolute h-full w-full object-cover"
    id="hero-video"
    autoplay="1"
    loop="1"
    style="background-image:url(./assets/bloemenhommel-poster.jpg)"
    muted="1"
    playsinline="1"
    data-object-fit="cover"
    width="100%"
    poster="./assets/bloemenhommel-poster.jpg"
    ><source src="./assets/bloemenhommel-transcode.mp4" /><source
      src='./assets/bloemenhommel-transcode.webm"'
    /></video
  >
</header>
<HeroAnimation />
