---
import { NAME, NAME_REAL } from "../../consts";
---

<header class="min-h-[70vh] lg:min-h-[90vh] relative sticky top-0 z-10">
  <div
    class="absolute overflow-hidden z-20 grid w-full h-full place-items-center text-center bg-black/50 text-white"
  >
    <div class="space-y-4">
      <h2 class="font-heading-2 text-[var(--step-2)]">{NAME_REAL}</h2>
      <h1
        class="font-heading text-[var(--step-5)] text-clr-yellow"
        id="hero-title"
      >
        {NAME}
      </h1>
      <ul
        class="flex flex-wrap gap-[var(--space-xs)] items-center justify-center"
      >
        <li class="tag hero">Tuinfluencer</li>
        <li class="tag hero">Plantlover</li>
        <li class="tag hero">Kweekbeest</li>
        <li class="tag hero">Tuintijger</li>
        <li class="tag hero">Gardenista</li>
      </ul>
    </div>
  </div>
  <video
    class="absolute h-full w-full object-cover"
    autoplay="1"
    loop="1"
    style="background-image:url(./assets/bloemenhommel-poster.jpg)"
    muted="1"
    playsinline="1"
    data-object-fit="cover"
    width="100%"
    poster="./assets/bloemenhommel-poster.jpg"
    ><source src="./assets/bloemenhommel-transcode.mp4" /><source
      src='./assets/bloemenhommel-transcode.webm"'
    /></video
  >
</header>

<script>
  const heroTitle = document.getElementById("hero-title") as HTMLElement;

  if (heroTitle) {
    window.addEventListener("scroll", () => {
      const scrolled = window.scrollY;
      const scale = 1 + scrolled * 0.025; // Langzaam groter worden
      const blur = scrolled * 0.15; // Langzaam meer blur

      heroTitle.style.transform = `scale(${scale})`;
      heroTitle.style.filter = `blur(${blur}px)`;
    });
  }
</script>
