---
// import { YouTube } from "@astro-community/astro-embed-youtube";
---

<section>
  <!-- <YouTube
    id="xtTy5nKay_Y"
    poster="https://images-assets.nasa.gov/image/0302063/0302063~orig.jpg"
    class="embed-yt"
  /> -->
  <div class="contact-wrap">
    <img src="https://via.placeholder.com/1280x720/333?text=16:9" alt="image" />
    <div class="contact-content">
      <h2 class="title">Contact?</h2>
      <p>Heb je een vraag of wil je samenwerken? Ik hoor het graag!</p>
      <a href="#" class="button">Mail</a>
    </div>
  </div>
</section>

<style>
  section {
    background-color: var(--clr-green);
  }
  .contact-wrap {
    display: grid;
    gap: var(--grid-gutter);
  }
  .embed-yt {
    max-width: 100%;
  }

  .title {
    font-size: var(--fs-1xl);
    font-family: var(--font-heading);
  }
  @media only screen and (min-width: 768px) {
    .contact-wrap {
      grid-template-columns: minmax(min-content, 3fr) minmax(0, 2fr);
    }
  }
  /* @media only screen and (min-width: ) {
    
  }
  */
</style>
