---
import { YouTube } from "@astro-community/astro-embed-youtube";
---

<section>
  <YouTube
    id="xtTy5nKay_Y"
    poster="https://images-assets.nasa.gov/image/0302063/0302063~orig.jpg"
    class="embed-yt"
  />
  <div class="contact-wrap">
    <!-- <img src="https://via.placeholder.com/1280x720/333?text=16:9" alt="image" /> -->
    <div class="contact-content">
      <h2 class="text-l-6">Samenwerken?</h2>
      <p>
        Tellus, vel dictum a egestas eleifend augue amet. In ullamcorper sem
        velit blandit felis, elementum neque, proin. Dictum eget augue porttitor
        id dictumst ullamcorper.
      </p>
      <a href="#" class="button">Mail</a>
    </div>
  </div>

  <style>
    .contact-wrap {
      display: grid;
    }
    .embed-yt {
      max-width: 100%;
    }
    @media only screen and (min-width: 768px) {
      .contact-wrap {
        grid-template-columns: minmax(min-content, 3fr) minmax(0, 2fr);
      }
    }
    /* @media only screen and (min-width: ) {
    
  }
  */
  </style>
</section>
