---
import { NAME } from "../consts";
const today = new Date();
---

<footer>
  <p class="description">
    Tuinierhier is Eefje Peddemors; tuinfluencer, plantlover, kweekbeest,
    tuintijger en gardenista sur plus. Maakt grijze ongezellige situaties groen
    en gezellig.
  </p>

  <div class="bottom">
    <ul class="social-links">
      <li>
        <a href="https://instagram.com/tuinierhier" class="instagram"
          >instagram.com/tuinierhier</a
        >
      </li>
      <li>
        <a href="https://linkedin.com/" class="link"
          >linkedin.com/eefjepeddemors</a
        >
      </li>
      <li>
        <a href="mailto:eefje@tuinierhier.nl" class="link"
          >eefje@tuinierhier.nl</a
        >
      </li>
    </ul>
    <div class="credits">
      <div class="copyright">&copy; {today.getFullYear()} {NAME}</div>
      <div class="allthis">
        design + dev: <a href="https://allthis.digital" target="_blank"
          >allthis.digital</a
        >
      </div>
    </div>
  </div>
  <div class="bloem">
    <img src="/assets/tuinierhier-bloem.svg" />
  </div>
</footer>

<style>
  footer {
    padding: var(--space-s-2xl);
    font-size: clamp(0.75rem, 0.75vw + 0.6rem, 1.5rem);
    z-index: 900;
  }

  .description {
    font-size: var(--fs-sm);
    font-weight: var(--fw-700);
    line-height: var(--lh-loose-2);
  }
  .bottom {
    display: grid;
    gap: 0.5rem;
  }

  .social-links {
    display: grid;
    gap: 0.5rem;
    font-size: var(--fs-sm);
    font-weight: var(--fw-700);
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
  .credits {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-top: var(--space-s-m);
    font-size: calc(var(--fs-1xs) * 0.75);
    font-weight: var(--fw-700);
    color: #ccc;
  }
  .credits a {
    color: var(--clr-navy);
  }

  .bloem {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    transform: translate(-50%, -50%);
  }
  @media only screen and (min-width: 1024px) {
    footer {
      padding: var(--space-s-m);
    }
    .bloem {
      top: 50%;
      right: 0;
      width: 4rem;
      transform: translate(50%, -50%);
      z-index: 999;
    }
  }
</style>

<script>
  var elem = document.querySelector(".bloem");

  if (elem) {
    window.addEventListener("scroll", function () {
      var value = window.scrollY * 1;
      elem.style.transform = `rotate(${value}deg)`;
    });
  }
</script>
