---
import { SITE_TITLE } from "../consts";
const today = new Date();
---

<footer>
  <p class="fs-base lh-tight">
    Tuinierhier is Eefje Peddemors; tuinfluencer, plantlover, kweekbeest,
    tuintijger en gardenista sur plus. Maakt grijze ongezellige situaties groen
    en gezellig.
  </p>

  <div class="bottom">
    <ul class="social-links">
      <li>
        <a href="https://instagram.com/tuinierhier" class="instagram"
          >instagram.com/tuinierhier</a
        >
      </li>
      <li>
        <a href="https://linkedin.com/" class="link"
          >linkedin.com/eefjepeddemors</a
        >
      </li>
      <li>
        <a href="mailto:eefje@tuinierhier.nl" class="link"
          >eefje@tuinierhier.nl</a
        >
      </li>
    </ul>
    <div class="credits">
      <div class="copyright">&copy; {today.getFullYear()} {SITE_TITLE}</div>
      <div class="allthis">website by: allthis.digital</div>
    </div>
  </div>
</footer>
<style>
  footer {
    padding: var(--page-padding);
    font-size: clamp(0.75rem, 0.75vw + 0.6rem, 1.5rem);
    /* font-size: 0.875rem; */
  }
  .bottom {
    display: grid;
    gap: 0.5rem;
  }

  .social-links {
    display: grid;
    gap: 0.5rem;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
  .credits {
    margin-top: var(--space-s-l);
  }
</style>
