---
import { SITE_TITLE } from "../consts";
const today = new Date();
---

<footer>
  <p>
    Tuinierhier is Eefje Peddemors; tuinfluencer, plantlover, kweekbeest,
    tuintijger en gardenista sur plus. Maakt grijze ongezellige situaties groen
    en gezellig.
  </p>
  <div class="social">
    <ul>
      <li>
        <a href="https://instagram.com/tuinierhier" class="instagram"
          >instagram.com/tuinierhier</a
        >
      </li>
      <li>
        <a href="https://linkedin.com/" class="link"
          >linkedin.com/eefjepeddemors</a
        >
      </li>
      <li>
        <a href="mailto:eefje@tuinierhier.nl" class="link"
          >eefje@tuinierhier.nl</a
        >
      </li>
    </ul>
  </div>
  <div class="credits">
    <div class="copyright">&copy; {today.getFullYear()} {SITE_TITLE}</div>
    <div class="allthis">website by: allthis.digital</div>
  </div>
</footer>
<style>
  footer {
    padding: var(--page-padding);
    font-size: 0.875rem;
  }

  p {
    font-size: 1rem;
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
