---
import { NAME, NAME_REAL } from "../consts";
---

<header>
  <div class="cover-wrap">
    <div class="cover-inner">
      <h2 class="subtitle">{NAME_REAL}</h2>
      <h1 class="title" id="hero-title">{NAME}</h1>
      <ul class="tags">
        <li class="tag hero">Tuinfluencer</li>
        <li class="tag hero">Plantlover</li>
        <li class="tag hero">Kweekbeest</li>
        <li class="tag hero">Tuintijger</li>
        <li class="tag hero">Gardenista</li>
      </ul>
    </div>
  </div>
  <video
    id=""
    autoplay="1"
    loop="1"
    style="background-image:url(./assets/bloemenhommel-poster.jpg)"
    muted="1"
    playsinline="1"
    data-object-fit="cover"
    width="100%"
    poster="./assets/bloemenhommel-poster.jpg"
    ><source src="./assets/bloemenhommel-transcode.mp4" /><source
      src='./assets/bloemenhommel-transcode.webm"'
    /></video
  >
</header>

<style>
  header {
    min-height: 70vh;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .cover-wrap {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    display: grid;
    max-width: 100%;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .subtitle {
    font-family: var(--font-heading-2);
    font-size: var(--fs-3xl);
  }

  .title {
    font-family: var(--font-heading);
    font-size: calc(1.66 * var(--fs-6xl));
    color: var(--clr-yellow);
  }

  video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-3xs-2xs);
    align-items: center;
    justify-content: center;
  }
  @media only screen and (min-width: 1024px) {
    main {
      min-height: 90vh;
    }
  }
  @media only screen and (min-width: 512px) {
    .title {
      font-size: calc(2.25 * var(--fs-6xl));
    }
  }
</style>

<script>
  const heroTitle = document.getElementById("hero-title") as HTMLElement;

  if (heroTitle) {
    window.addEventListener("scroll", () => {
      const scrolled = window.scrollY;
      const scale = 1 + scrolled * 0.025; // Langzaam groter worden
      const blur = scrolled * 0.15; // Langzaam meer blur

      heroTitle.style.transform = `scale(${scale})`;
      heroTitle.style.filter = `blur(${blur}px)`;
    });
  }
</script>
