---
import { NAME, NAME_REAL } from "../consts";
---

<main>
  <div class="cover-wrap">
    <h2>{NAME_REAL}</h2>
    <h1>{NAME}</h1>
    <ul class="tags">
      <li>Tuinfluencer</li>
      <li>Plantlover</li>
      <li>Kweekbeest</li>
      <li>Tuintijger</li>
      <li>Gardenista</li>
    </ul>
    <video
      id=""
      autoplay="1"
      loop="1"
      style="background-image:url(./assets/bloemenhommel-poster.jpg)"
      muted="1"
      playsinline="1"
      data-object-fit="cover"
      width="100%"
      ><source src="./assets/bloemenhommel-transcode.mp4" /><source
        src='./assets/bloemenhommel-transcode.webm"'
      /></video
    >
  </div>
</main>
