---

---

<section>
  <h2 class="section-title">Nieuws</h2>
  <div class="news-wrap">
    <div class="news-list">
      <div class="news-item">
        <img
          src="https://source.unsplash.com/random/?greenery
          "
          alt="plaatje"
        />
        <p>tag</p>
        <h3 class="title">Title</h3>
        <p class="intro">
          Als tuinfluencer probeer ik de welwillende burger te inspireren en te
          helpen om te vergroenen.
        </p>
        <p>
          Vergroenen is namelijk helemaal niet zo ingewikkeld; je haalt eens een
          tegeltje weg, je plant eens een zaadje. Er kan eigenlijk niet zo veel
          mis gaan. Het is een kwestie van doen. En als je het toch nog wat
          spannend vindt om het alleen te doen, dan help ik je graag op weg met
          tips en inspiratie. Deze vind je op instagram.com/tuinierhier.
        </p>
      </div>
      <div class="news-item">
        <img
          src="https://source.unsplash.com/random/?garden,greenery
          "
          alt="plaatje"
        />
        <p>tag</p>
        <h3 class="title">Title</h3>
        <p class="intro">
          Als tuinfluencer probeer ik de welwillende burger te inspireren en te
          helpen om te vergroenen.
        </p>
        <p>
          Vergroenen is namelijk helemaal niet zo ingewikkeld; je haalt eens een
          tegeltje weg, je plant eens een zaadje. Er kan eigenlijk niet zo veel
          mis gaan. Het is een kwestie van doen. En als je het toch nog wat
          spannend vindt om het alleen te doen, dan help ik je graag op weg met
          tips en inspiratie. Deze vind je op instagram.com/tuinierhier.
        </p>
      </div>
      <div class="news-item">
        <img
          src="https://source.unsplash.com/random/?plants
          "
          alt="plaatje"
        />
        <p>tag</p>
        <h3 class="title">Title</h3>
        <p class="intro">
          Als tuinfluencer probeer ik de welwillende burger te inspireren en te
          helpen om te vergroenen.
        </p>
        <p>
          Vergroenen is namelijk helemaal niet zo ingewikkeld; je haalt eens een
          tegeltje weg, je plant eens een zaadje. Er kan eigenlijk niet zo veel
          mis gaan. Het is een kwestie van doen. En als je het toch nog wat
          spannend vindt om het alleen te doen, dan help ik je graag op weg met
          tips en inspiratie. Deze vind je op instagram.com/tuinierhier.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    background: var(--clr-yellow);
  }

  .news-list {
    display: grid;
  }

  @media only screen and (min-width: 768px) {
    .news-list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: var(--grid-gutter);
    }
  }
</style>
