---
// component import
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";
// import Nav from "../components/Nav.astro";

// style import
import "../styles/reset.css";
import "../styles/global.css";

const {
  title = "Tuinierhier • Eefje Peddemors",
  description = "Tuinfluencer, plantlover, kweekbeest, tuintijger, gardenista",
  image,
  robots,
} = Astro.props;
---

<html lang="en">
  <MainHead {title} {description} {image} {robots} />
  <body>
    <!-- <Nav /> -->
    <div class="page-wrap">
      <main>
        <slot> Default Text</slot>
      </main>
      <Footer />
    </div>
  </body>
</html>
